{% include "base_generic.html" %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% block content %}
  <h1>Book List</h1>
  <ul>
    {% for raid in raid_list %}
      <li>
        <a href="{{ raid.get_absolute_url }}">{{ raid.name }}</a>
      </li>
    {% endfor %}
  </ul>
    <p>There are no books in the library.</p>
{% endblock %}
</body>
</html>




